.main-body.page-index {
  background-color: #f5f8fb;
  .line-1 {
    padding-left: 0.5%;
    background-color: #fff;
    .pic-item {
      margin: 0.8% 0.35%;
      width: 24%;
      display: inline-block;
      img {
        width: 100%;
      }
    }
  }
  .line-2 {
    width: 100%;
    background-color: #fff;
    display: inline-block;
    img {
      width: 100%;
      z-index: -1;
    }
    .right-box {
      top: 8%;
      margin-left: 51%;
      color: #666;
      .item-box {
        display: inline-block;
        margin: 3% 0;
        .icon {
          float: left;
          display: inline-block;
          margin-right: 25px;
        }
        .content {
          clear: both;
          max-width: 56%;
          display: inline-block;
          .title {
            font-size: 24px;
            line-height: 25px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .title {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 15px;
    font-weight: normal;
  }
  .line-3 {
    text-align: center;
    height: 350px;
    padding-top: 3%;
    color: #666;
    background-color: #fff;
    .box {
      width: 49%;
      height: 86%;
      .icon {
        margin-bottom: 30px;
      }
      .content {
        font-size: 16px;
        padding: 0 40px;
        margin-bottom: 30px;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
      }
      .btn {
        min-width: 120px;
      }
    }
    .right-border {
      border-right: #ccc 1px solid;
    }
  }
  .line-4 {
    width: 100%;
    height: 336px;
    padding: 45px 0 25px;
    text-align: center;
    color: #666;
    .description {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 30px;
    }
    .btn-n01 {
      width: 120px;
      margin-bottom: 20px;
    }
    .item-list {
      ul {
        margin-left: auto;
        margin-right: auto;
        li {
          width: 120px;
          margin: 0 1.5%;
          padding-top: 140px;
          display: inline-block;
          background-position: center top;
          background-repeat: no-repeat;
        }
        li:nth-child(1) {
          background-image: url('images/icon_home_5.png');
        }
        li:nth-child(2) {
          background-image: url('images/icon_home_6.png');
        }
        li:nth-child(3) {
          background-image: url('images/icon_home_7.png');
        }
        li:nth-child(4) {
          background-image: url('images/icon_home_8.png');
        }
        li:nth-child(5) {
          background-image: url('images/icon_home_9.png');
        }
      }
    }
  }
}
