html { color: #000; background: #fff; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100% }
html * { outline: 0; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); box-sizing: border-box }
html, body { font-family: sans-serif }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0 }
input, select, textarea { font-size: 100% }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
abbr, acronym { border: 0; font-variant: normal }
del { text-decoration: line-through }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 500 }
ol, ul { list-style: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 500 }
q:before, q:after { content: '' }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline }
sup { top: -.5em }
sub { bottom: -.25em }
a:hover { text-decoration: underline }
ins, a { text-decoration: none }
/* common style */
.mask {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  overflow: hidden;
}
.modal {
  position: fixed;
  z-index: 100;
}
.bottom-tip {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  bottom: 0;
}
.bottom-tip a {
  color: #fff;
  text-decoration: none;
}
.ad-tip img {
  display: block;
  width: 100%;
}
.ad-tip-close {
  position: absolute;
  top: 0;
  right: .133rem;
  font-size: .48rem;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 0 #000;
}
.ios-tip {
  position: relative;
  height: 1.067rem;
  padding: 0 .373rem;
  line-height: 1.067rem;
  color: #fff;
  font-size: .373rem;
  background: #f16543;
}
.tip-arrow {
  position: absolute;
  top: 50%;
  right: .373rem;
  height: .4rem;
  margin-top: -.2rem;
}
.tip-arrow img {
  display: block;
  height: 100%;
}
.browser-tip {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}
.click-btn {
  height: 1.92rem;
  margin: .267rem;
}
.click-btn img {
  display: block;
  float: right;
  height: 100%;
}
.step {
  height: 1rem;
  margin: 0 0 .32rem 2rem;
  font-size: .427rem;
  line-height: 1rem;
  color: #fff;
}
.step img {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.step span {
  display: inline-block;
  height: .427rem;
  width: .427rem;
  background: #009dd9;
  color: #fff;
  text-align: center;
  font-size: .3rem;
  line-height: .427rem;
  border: 1px solid #fff;
  border-radius: .214rem;
  vertical-align: middle;
}
